body{
  background-color: #222;
  height: 100%;
}
.spacer{
  display: block;
  padding-bottom: 200px;
}
.hidden{
  display: none;
}
.shown{
  display: block;
}
.led-wrapper{
  background-color: black;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  position: relative;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 200px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
img{
  height: 25px;
  width: auto;
}
.marquee{
  width: 100%;
  font-size: .85em;
  overflow: hidden;
}
.marquee-item{
  width: 100%;
  margin-bottom: 5px;
}
.label{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}
.yellow{
  color: #f6fe46;
}
.blue{
  color: #2ea8cf;
}
.bg{
  background-color: #4d4d4d;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 10px 2px;
}
.bg span{
  text-align: right;
  display: inline-block;
  width: 85px;
}
.bg-red{
  background-color: #D8202A;
}
.bg-green{
  background-color: #478D00;
}
.marquee-block, .stock-item, .img-wrapper{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
.stock-item{
  margin-left: 10px;
  margin-right: 10px;
}